.profile__add-button{
  background-image: url(../../../images/profile__vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFFF;
  background-color: #000000;
  width: 150px;
  height: 50px;
  margin-left: auto;
  align-self: center;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  padding: 0;
  transition: .4s;
}

.profile__add-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 767px){
  .profile__add-button{
    width: 282px;
    margin: 36px 0 0;
    background-size: 16px 16px;
}
}
