.elements__like{
  color: #000000;
  background-color: #FFFFFF;
  background-size: cover;
  border: 0;
  width: 22px;
  height: 19px;
  background-image: url(../../../images/elements__like.svg);
  padding: 0;
  border: 0;
}